
h1 {
  font-size: 60px;
  margin: 0px;
  padding: 0px;
}

h3 {
  margin: 0px;
  padding: 0px;
  color: #FFF;
}

h4{
  margin: 0px;
  padding: 0px;
  color: #FFF;
}
a{
  margin: 0px;
  padding: 0px;
  color: #FFF;
}
div.text{
  margin: 0px;
  padding: 0px;
}

#twitter-widget-0 { 
      width: 100% !important; 
}

div.wrap {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}

div.wrap div {
  position: relative;
  margin: 50px 0;
}

label {
  position: middle;
  top: 0;
  font-size: 30px;
  margin: 10px;
  padding: 0 -30px;
  background-color: black;
  -webkit-transition: top .2s ease-in-out,  font-size .2s ease-in-out;
  transition: top .2s ease-in-out,  font-size .2s ease-in-out;
}

textarea[type=text] {
  width: 100%;
  padding: 20px;
  border: 1px solid white;
  font-size: 20px;
  background-color: black;
  color: white;
}

/* ---------------------------------------------- /*
 * Custom button style
/* ---------------------------------------------- */

.btn {
  font-weight: 700;
  font-size: 14px;
  padding: 17px 27px;
  border: 0;
}

.btn:hover, .btn:focus, .btn:active, .btn.active {
  outline: inherit !important;
}

/* Button icons */

.btn .icon-before {
  margin-right: 6px;
}

.btn .icon-after {
  margin-left: 6px;
}

/* Button size */

.btn-lg, .btn-group-lg > .btn {
  padding: 22px 24px;
  font-size: 14px;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 11px 18px;
  font-weight: 400;
  font-size: 12px;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 7px 14px;
  font-size: 10px;
}

.btn-list .btn {
  margin-bottom: 5px;
}

/* Button types*/

.btn-default {
  background: #FFF;
}

.btn-custom-1, .btn-custom-2 {
  background: transparent;
  border: 2px solid #FFF;
  padding: 15px 25px;
  color: #AAA;
}

.btn-custom-2 {
  border: 2px solid #FFF;
}

.btn-custom-1:hover, .btn-custom-1:focus, .btn-custom-1:active, .btn-custom-1.active {
  background: #000;
  border: 2px solid #FFF;
  color: #FFF;
}

.btn-custom-2:hover, .btn-custom-2:focus, .btn-custom-2:active, .btn-custom-2.active {
  background: #222;
  border: 2px solid #FFF;
  color: #FFF;
}

.active {
  top: -25px;
  font-size: 20px;
}

input[type=text] {
  width: 100%;
  padding: 20px;
  border: 1px solid white;
  font-size: 20px;
  background-color: black;
  color: white;
}

input[type=text]:focus {
  outline: none;
}
