#instafeed img {
	position: relative;
	left: 130px;
	opacity: 0.8;
	width: 200px;
  	height:200px;
  	resolution: standard_resolution;
	filter:alpha(opacity=80);
}



#instafeed img:hover {
	opacity: 1;
	filter:alpha(opacity=100);	
}


#twitter {
	position: relative;
	left: 250px;
	height: 750px;
}